@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-Italic.ttf');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Spectral;
    src: url('../fonts/Spectral-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
    font-display: block;
}


@font-face {
    font-family: Cormorant Garamond;
    src: url('../fonts/CormorantGaramond-VariableFont_wght.ttf');
    font-weight: 300 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Cormorant Garamond;
    src: url('../fonts/CormorantGaramond-Italic-VariableFont_wght.ttf');
    font-weight: 300 700;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: Work Sans;
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Work Sans;
    src: url('../fonts/WorkSans-Italic-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

:root {
    --color-text: #1F1F1F;
    --color-card: #fafaf8;
    --color-background: #F2F2EE;
    --color-accent: #b8ae8f;
    --color-accent-line: #6D7564;
    --color-hover: #b8ae8f;
    --line-thickness: 2pt;
}

html {
    scroll-behavior: smooth;
    hyphens: auto;
}

body {
    font-size: 12pt;
    max-width: 45em;
    margin: auto;
    min-height: 100vh;
    padding: 3em 1em;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    background-color: var(--color-background);
}

/* White card for content */
.main-card {
    max-width: 700px;
    margin: 4rem auto;
    padding: 3rem;
    background: var(--color-card);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  }

h1,
h2,
h3 {
    font-weight: 700;
    font-style: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: "Spectral", serif;
}

h1 {
    font-size: 48pt;
    line-height: 48ipt;
    margin: 64pt 0 36pt 0;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 36pt;
    line-height: 36pt;
    margin: 72pt 0 24pt 0;
    font-weight:300;
}

h3 {
    font-size: 24pt;
    line-height: 24pt;
    margin: 48pt 0 24pt 0;
    font-weight: 300;
}

h3::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: var(--line-thickness);
    background-color: var(--color-accent-line);
}

h2,
h3 {
    text-wrap: balance;
}

p,
li,
h3,
blockquote,
div {
    line-height: 24pt;
}

code {
    font-family: monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    text-transform: none;
}

pre {
    margin: 0 0 24pt 0;
    border: var(--line-thickness) solid var(--color-text);
    padding: 12pt;
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
}

pre code {
    line-height: 12pt;
    font-weight: 300;
    font-variation-settings: "MONO" 1;
}

p,
ul,
img {
    margin: 0 0 24pt 0;
}

ul {
    padding-left: 24pt;
    list-style-type: square;
}

strong {
    font-weight: 700;
}

blockquote {
    margin: 0 0 24pt 24pt;
}

footer {
    margin: 48pt 0 24pt 0;
    font-style: italic;
    color: var(--color-accent-line);
}

a,
a:visited {
    color: unset;
}

a:not([href*='//']),
a:not([href*='//']):visited {
    text-decoration: none;
    background-color: transparent;
    color: var(--color-text);
    padding: 4pt;
    /* to keep the padding consistent for line breaks: */
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-family: "Spectral", serif;
    border: var(--line-thickness) solid var(--color-accent);

    &:hover,
    &:active {
        background-color: var(--color-hover);
        color: var(--color-text);
    }
}

a[href*='//'],
a[href*='//']:visited {
    padding: 4pt 0;
    text-decoration-thickness: var(--line-thickness);
    text-underline-offset: 4pt;
    text-decoration-color: var(--color-accent);

    &:hover,
    &:active {
        text-decoration: none;
        color: var(--color-text);
        background-color: var(--color-hover);
    }
}

img {
    width: 100%;
    border: var(--line-thickness) solid var(--color-text);
}

.splitter {
    color: var(--color-accent-line);
    text-align: center;
    /* shrink font size to 12pt */
    font-size: 12pt;
}